@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: #000;
    font-family: Montserrat, sans-serif;

}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fafafa;
    pointer-events: none;
}

.counter {
    position: fixed;
    left: 50px;
    bottom: 0px;
    display: flex;
    height: 100px;
    gap: 5px;
    font-size: 100px;
    line-height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
    font-weight: 300;
    color: #fafafa;
}

.counter-1,
.counter-2,
.counter-3 {
    position: relative;
    top: -15px;
}

.num1offset1 {
    position: relative;
    right: -35px;
}

.num1offset2 {
    position: relative;
    right: -5px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgb(80, 80, 80);
}

.loader-1 {
    position: relative;
    background: #fafafa;
    width: 200px;
}

/* Abrir nav */

#abrir-nav {
    position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.icon-box {
    position: relative;
    top: 10px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    cursor: pointer;
}

.icon-box i {
    z-index: 0;
    font-size: 30px;
    color: #fafafa;
}

/* Navbar */
.navbar.abrir {
    opacity: 1;

}

.navbar {
    opacity: 0;
    z-index: 1;
    transition: 0.3s ease;
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    align-items: center;
}

.navbar a.Entrar {
    display: flex;
    align-items: center;
    border: 0.5px solid #fafafa;
    border-radius: 30px;
    z-index: 1;
}
.Entrar i {
    z-index: 0;
    pointer-events: none;
}

.navbar ul a {
    color: #fafafa;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s ease;
    
}

.navbar a.Entrar:hover {
    background-color: #fafafa;
    color: #242424;

}

.navbar .close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
    z-index: 1;
}
.close:hover {
    background-color: #fafafa;
    color: #242424;
}

.close i {
    font-size: 20px;
    z-index: 0;
    pointer-events: none;
}

.loader-2 {
    position: relative;
    background: #fafafa;
    width: 100px;
}

.bar {
    height: 50px;
}

.website-content {
    width: 100%;
    padding: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.conteudo img {
    max-width: 900px;
    width: 90%;
}
#text1 {
    text-align: justify;
    margin-top: 10px;
}
.texto {
    height: 100%;
    width: 50%;
    margin-top: 90px;
    color: #fafafa;
}

.galeria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background: #242424;
    margin-top: 150px;

}

.galeria img {
    width: 300px;
}

.grid-galeria {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

b {
    font-size: 34px;
}
.h1 {
    position: relative;
    top: 20px;
    left: -20px;
    color: #fafafa;
    width: fit-content;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
   h1 {
    font-weight: 400;
    font-size: calc(7.375rem + 1.5vw);

   }
}


.header-revealer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-revealer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
}
.conteinerCarrosel {
    width: 100%;
    margin-bottom:10%;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border: 2px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.2s ease;
    box-shadow: none;
}

.card-list .card-item .card-link:hover {
    border-color: orange;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #fafafa;
    padding: 8px 15px;
    font-size: 0.95rem;
    width: fit-content;
    font-weight: 500;
    border-radius: 50px;
    margin: 16px 0 18px;
    background-color: #242424;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #242424;
    transition: 0.4s ease;
}

i.card-button {
    font-size: 26px;
}

.card-list .card-link:hover .card-button {
    color: #fafafa;
    background: #242424;

}

#conteiner-solucao {
    width: 100%;
    background-color: #242424;
    margin-bottom: 50px;
}

.column {
    width: 100%;
    display: flex;
    color: #fafafa;
    flex-wrap: wrap;
    gap: 30px;
    place-content: center;
    align-items: first baseline;
    padding-bottom: 50px;
}

.box {
    width: 350px;
    padding: 10px;
    line-height: 1.2;
    text-align: justify;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    align-items: center;
    color: #fafafa;
}

.titulo img {
    margin-top: 20px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #121212 !important;
    color: #fafafa !important;
    --bs-secondary-color:#fafafa;
    --bs-emphasis-color:#fafafa;
}
.accordion-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.accordion-body img {
    width: 40%;
}