@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: #000;
    font-family: Montserrat, sans-serif;

}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fafafa;
    pointer-events: none;
}

.counter {
    position: fixed;
    left: 50px;
    bottom: 0px;
    display: flex;
    height: 100px;
    gap: 5px;
    font-size: 100px;
    line-height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
    font-weight: 300;
    color: #fafafa;
}

.counter-1,
.counter-2,
.counter-3 {
    position: relative;
    top: -15px;
}

.num1offset1 {
    position: relative;
    right: -35px;
}

.num1offset2 {
    position: relative;
    right: -5px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgb(80, 80, 80);
}

.loader-1 {
    position: relative;
    background: #fafafa;
    width: 200px;
}

.loader-2 {
    position: relative;
    background: #fafafa;
    width: 100px;
}

.bar {
    height: 50px;
}

.website-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.texto {
    height: 100%;
    width: 50%;
    margin-top: 90px;
}

.galeria {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background: #242424;
    margin-top: 150px;

}

.galeria img {
    width: 300px;
}

.grid-galeria {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

b {
    font-size: 34px;
}

.header {
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    display: flex;
    color: #fafafa;
    font-size: 80px;
}

.header .h1 h1 {
    text-align: center;
    position: relative;
    top: 80px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.header-revealer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-revealer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
}


.cont-pesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-pesquisa button { /*button*/
    padding: 10px;
    width: 500px;
    background-color: #fafafa;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
/* Modal */

#open-modal {
    position: relative;
    top: 120px;
}
#modal {
    position: relative;
    transform: translate(50% 110%);
    z-index: 10;
    background-color: #fafafa;
    width: 1200px;
    max-width: 90%; 
    padding: 1.2rem;
    border-radius: 5px;
    
}
iframe {
    width: 100%;
    height: 300px;

}

#fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    
}

#tittle1 {
    color: #fafafa;
}

#text1 {
    color: #fafafa;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

#close-modal {
    padding: 5px;
    width: 100px;
    max-width: 90%;
}

#modal .header-modal {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#modal.hide,
#fade.hide {
    opacity: 1;
    pointer-events: all;
}

#modal.hide {
    top: 0;
}

.text-modal {
    padding: 15px;
    text-align: justify;
}


.conteiner {
    width: 100%;
    padding-bottom: 200px;
}
.card-list .card-item {
    list-style: none;
}
.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border: 2px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.2s ease;
    box-shadow: none;
}

.card-list .card-item .card-link:hover {
    border-color: orange;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #fafafa;
    padding: 8px 15px;
    font-size: 0.95rem;
    width: fit-content;
    font-weight: 500;
    border-radius: 50px;
    margin: 16px 0 18px;
    background-color: #242424;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #242424 ;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

i.card-button {
    font-size: 26px;
}

.card-list .card-link:hover .card-button {
    color: #fafafa;
    background: #242424;

}


